<div>
  <h3>Filters & Search</h3>
  <%= form_with url: admin_shop_orders_path, method: :get, local: true do |f| %>
    <div>
      <div>
        <%= f.label :user_search, "User (name/email)" %>
        <%= f.text_field :user_search, value: params[:user_search], placeholder: "Search users" %>
      </div>

      <div>
        <%= f.label :shop_item_id, "Item" %>
        <%= f.select :shop_item_id, options_from_collection_for_select(ShopItem.order(:name), :id, :name, params[:shop_item_id]),
            { prompt: "All items" } %>
      </div>

      <% unless current_user.fulfillment_person? %>
      <div>
        <%= f.label :region, "Region" %>
        <%= f.select :region, options_for_select([
            ['All regions', ''],
            ['United States', 'US'],
            ['EU + UK', 'EU'],
            ['India', 'IN'],
            ['Canada', 'CA'],
            ['Australia & NZ', 'AU'],
            ['Rest of World', 'XX']
          ], params[:region]) %>
      </div>
      <% end %>
<% unless current_user.fulfillment_person? %>
      <div>
        <%= f.label :status, "Status" %>
        <%= f.select :status, options_for_select([
            ['All statuses', ''],
            ['Pending', 'pending'],
            ['Awaiting Verification Call', 'awaiting_verification_call'],
            ['Awaiting Fulfillment', 'awaiting_periodical_fulfillment'],
            ['Fulfilled', 'fulfilled'],
            ['Rejected', 'rejected'],
            ['On Hold', 'on_hold']
          ], params[:status] || @default_status) %>
      </div>
<% end %>
      <div>
        <%= f.label :date_from, "From" %>
        <%= f.date_field :date_from, value: params[:date_from] %>
      </div>

      <div>
        <%= f.label :date_to, "To" %>
        <%= f.date_field :date_to, value: params[:date_to] %>
      </div>

      <div>
        <%= f.label :sort, "Sort by" %>
        <%= f.select :sort, options_for_select([
            ['Created (newest)', 'created_at_desc'],
            ['Created (oldest)', 'created_at_asc'],
            ['ID (desc)', 'id_desc'],
            ['ID (asc)', 'id_asc'],
            ['Tickets (high)', 'shells_desc'],
            ['Tickets (low)', 'shells_asc']
          ], params[:sort] || 'created_at_desc') %>
      </div>
    </div>

    <% if @fulfillment_users.present? %>
    <div>
      <label>Assignee</label>
      <div>
        <label>
          <%= check_box_tag "assignee_ids[]", "unassigned", Array(params[:assignee_ids]).include?("unassigned"), id: "assignee_unassigned" %>
          Unassigned
        </label>
        <% @fulfillment_users.each do |fu| %>
          <label>
            <%= check_box_tag "assignee_ids[]", fu.id, Array(params[:assignee_ids]).include?(fu.id.to_s), id: "assignee_#{fu.id}" %>
            <%= fu.display_name %>
          </label>
        <% end %>
      </div>
    </div>
    <% end %>

    <div>
      <%= f.submit "Apply Filters" %>
      <%= link_to "Clear All", admin_shop_orders_path(view: params[:view]) %>
    </div>

    <%= f.hidden_field :goob, value: params[:goob] if params[:goob] %>
    <%= f.hidden_field :view, value: params[:view] if params[:view] %>
  <% end %>
</div>
