<% grouped_orders.each do |group| %>
  <div>
    <div>
      <h3>
        <%= link_to group[:user].display_name || "Unknown", admin_user_path(group[:user]) %>
      </h3>
      <div>
        <%= group[:user].email %>
      </div>
      <div>
        <span><%= pluralize(group[:orders].count, 'order') %></span>
        <span><%= pluralize(group[:total_items], 'item') %></span>
        <span><%= group[:total_shells] %> tickets</span>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Item</th>
          <th>Qty</th>
          <th>Tickets</th>
          <th>Status</th>
          <th>Created</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% group[:orders].each do |order| %>
          <tr>
            <td>#<%= order.id %></td>
            <td><%= order.shop_item.name %></td>
            <td><%= order.quantity %></td>
            <td><%= order.total_cost %></td>
            <td>
              <span>
                <%= order.aasm_state.humanize %>
              </span>
            </td>
            <td><%= order.created_at.strftime("%b %d, %Y") %></td>
            <td>
              <%= link_to "Inspect", admin_shop_order_path(order, return_view: params[:view], return_status: params[:status]) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
