<%= link_to project_path(project), class: "project-shelf-card", data: engagement_data do %>
  <span class="project-shelf-card__media <%= 'ai-detected' if helpers.current_user&.admin? && project.banner.attached? && project.banner.blob.metadata["ai_generated"] %>">
    <% if project.display_banner %>
      <%= image_tag project.display_banner, alt: "", class: "project-shelf-card__image" %>
    <% else %>
      <%= image_tag "default-banner.png", alt: "", class: "project-shelf-card__image" %>
    <% end %>
  </span>

  <span class="project-shelf-card__body">
    <span class="project-shelf-card__title"><%= project.title %></span>
    <% if description.present? %>
      <span class="project-shelf-card__description"><%= truncate(strip_tags(description), length: 120) %></span>
    <% end %>
  </span>
<% end %>
