<%
  liked = if current_user && defined?(@liked_devlog_ids)
    @liked_devlog_ids.include?(likeable.id)
  else
    current_user && likeable.likes.exists?(user: current_user)
  end

  icon = liked ? "icons/like-fill.svg" : "icons/like.svg"
  button_classes = [
    "like-button__btn",
    ("like-button__btn--liked" if liked),
    ("like-button__btn--animate" if liked && local_assigns[:animate_liked])
  ].compact
%>

<div id="<%= dom_id(likeable, :like_button) %>" class="like-button">
  <% if current_user %>
    <%= button_to devlog_like_path(likeable),
          method: liked ? :delete : :post,
          class: button_classes,
          form_class: "like-button__form" do %>
      <%= inline_svg_tag(icon, class: "like-button__icon") %>
      <span class="like-button__count"><%= likeable.likes_count %></span>
    <% end %>
  <% else %>
    <div class="like-button__btn like-button__btn--disabled">
      <%= inline_svg_tag("icons/like.svg", class: "like-button__icon") %>
      <span class="like-button__count"><%= likeable.likes_count %></span>
    </div>
  <% end %>
</div>
