<table>
  <thead>
    <tr>
      <th>Order #</th>
      <th>Item</th>
      <th>Status</th>
      <th>Created</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td>
          <%= link_to "##{order.id}", admin_shop_order_path(order), style: "text-decoration: none; color: #3b82f6;" %>
        </td>
        <td>
          <%= truncate(order.shop_item.name, length: 20) %>
        </td>
        <td>
          <span>
            <%= order.aasm_state.humanize %>
          </span>
        </td>
        <td>
          <%= order.created_at.strftime("%m/%d") %>
        </td>
        <td>
          <%= order.total_cost %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
