<% content_for :title, "Edit Shop Item" %>
<div>
  <div>
    <div>
      <h1>Edit Shop Item</h1>
      <div>
        <code>#<%= @shop_item.id %></code>
        <span><%= @shop_item.type.to_s.gsub("ShopItem::", "") %></span>
      </div>
    </div>
    <p><%= @shop_item.name %></p>
  </div>

  <%= render 'form', shop_item: @shop_item %>

  <div>
    <%= link_to "← Back to Item", admin_shop_item_path(@shop_item) %>
  </div>
</div>
