<% content_for :title, "Users" %>
<h1>users</h1>

<% if current_user.admin? || current_user.has_role?(:raffle_admin) %>
  <p><%= link_to "→ Raffle admin", admin_raffles_path %></p>
<% end %>

<%= form_with url: admin_users_path, method: :get, local: true do %>
  <%= text_field_tag :query, params[:query],
    placeholder: "Search users by name or email...",
    autocomplete: "off" %>

  <%= submit_tag "Search" %>
<% end %>

<% if @users.any? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role(s)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.display_name, admin_certification_reports_path(reporter_id: user.id) %></td>
          <td><%= user.email %></td>
          <td><%= user.roles.map { |r| r.to_s.titleize }.join(", ") %></td>
          <td>
            <%= link_to "👁️", admin_user_path(user), title: "View user details", style: "font-size: 1rem; text-decoration: none;" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No users found.</p>
<% end %>

<% if @pagy.pages > 1 %>
  <div>
    <%== @pagy.series_nav %>
  </div>
<% end %>

<%= link_to "Go back", admin_users_path %>
